:root {
    --bg: hsl(0, 0%, 92%);
    --button-text: hsl(0 0% 100%);
    --button-1-surface: hsl(223, 83%, 30%);
    --button-2-surface: hsl(41,96%,56%);
    --body-bg: hsl(0, 0%, 92%);
    --nav-bg: linear-gradient(90deg, rgba(13,49,141,1) 0%, rgba(22,35,107,1) 50%, rgba(15,24,85,1) 100%);
    --gradient: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(7,144,232,1) 25%, rgba(14,97,209,1) 50%, rgba(20,50,186,1) 75%, rgba(27,3,163,1) 100%);
    --gradient-scroll: linear-gradient(to bottom right, rgba(0,191,255,1) 0%, rgba(7,144,232,1) 25%, rgba(14,97,209,1) 50%, rgba(20,50,186,1) 75%, rgba(27,3,163,1) 100%);
    --card-background: hsl(0, 0%, 100%);
    --card-text: hsl(0, 0%, 100%);
    --card-accent: hsl(223, 83%, 30%);
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 100vw;
    margin-block: .125em;
}

::-webkit-scrollbar-thumb {
    border: .125em solid #eaeaea;
    border-radius: 100vw;
    background-image: var(--gradient-scroll);
    background-size: 400%;
    animation: thumb-animation 1s infinite alternate;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin-top: 125px;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
    line-height: 1.6;
}

.accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 40px;
}

@media (min-width: 45em) {
    .accordion{
    flex-direction: row;
    height: 40rem;
    }
}

.accordion * {
    margin: 0;
}

.accordion-panel {
    cursor: pointer;
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    padding-right: calc(var(--_panel-padding) * 4);
    border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 2);
}

@media (prefers-reduced-motion: no-preference) {
    .accordion-panel {
        transition: flex-basis 500ms, flex-grow 500ms;
    }
}

.accordion-panel:nth-of-type(1) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(2) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(3) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(4) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(5) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(6) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(7) {
    --_panel-color: white;
}

.accordion-panel:nth-of-type(8) {
    --_panel-color: white;
}

.accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
    cursor: default;
}

.accordion-panel:has([aria-expanded="true"]) {
    --_panel-color: transparent;
}

.accordion-trigger {
    outline: 0;
    cursor: pointer;
}

.accordion-icon:has([aria-expanded="true"]) {
    background: transparent;
}

.accordion-panel:focus-within {
    outline: 3px solid #0d318d;
    outline-offset: 4px;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-content > p {
    transform: translateY(0);
    opacity: 1;
}

.accordion-content > p {
    color: white;
    transform: translateY(2rem);
    opacity: 0;

    margin-left: calc(var(--_button-size) + var(--_panel-gap));
}

@media (prefers-reduced-motion: no-preference) {
    .accordion-panel:has([aria-expanded="true"]) p {
    transition: transform 500ms 250ms, opacity 500ms 500ms;
    opacity: 1;
    }
}

.accordion-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;

    position: relative;
    isolation: isolate;

    display: grid;
    align-items: center;
}

@media (max-width: 44.999em) {
    .accordion-title::after {
        content: '';
        position: absolute;
        left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
        width: calc(100% + (var(--_button-size) * 2));
        height: var(--_button-size);
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
        border-radius: 100vw;
    }
}

.accordion-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    transition: filter 500ms;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
    filter: brightness(0.75);
}

.accordion-trigger {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: var(--_panel-gap);
    flex-direction: row-reverse;
    padding: 0;
}

.accordion-icon {
    fill: var(--_panel-color);
    background: hsl( 0 0% 0% / 0.25);
    width: var(--_button-size);
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 10;
    opacity: 1;
    display: flex;
}

svg {
    display: none;
    opacity: 0;
}

body     {
    margin: 0;
    font-size: 1.25rem;
    background: var(--body-bg);
    color: black;
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 4rem;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
html {
    font-family: "Arial", sans-serif;
}

nav {
    position: sticky;
    top: 0;
    height: 100%;
    background-image: var(--nav-bg);
    background-size: 400%;
    animation: big-animation 5s infinite alternate;
}

@keyframes big-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 4rem;
    padding-block: 2rem;
    font: 2rem;
}

.nav-list li {
    padding: 1rem 2rem;
    margin-left: 2rem;
    border-radius: 100vw 0 0 100vw;
}

.nav-list li:hover {
    background-color: rgba(10,15,75, 0.8);
    color: #ffffff;
    filter: brightness(1.25);
    position: relative;
}

.nav-list li.active {
    view-transition-name: activeNavTab;
    background-color: var(--body-bg);
    color: #000;
    position: relative;
}

.nav-list li::nth-child(1) a {
    view-transition-name: navLink-1;
}

.nav-list li::nth-child(2) a {
    view-transition-name: navLink-1;
}

.nav-list li::nth-child(3) a {
    view-transition-name: navLink-1;
}

.nav-list li::nth-child(4) a {
    view-transition-name: navLink-1;
}

.nav-list li::nth-child(5) a {
    view-transition-name: navLink-1;
}

::view-transition-group(activeNavTab) {
    animation-duration: 500ms;
    animation-timing-function: ease;
}

.nav-list li.active::before,
.nav-list li.active::after {
    --border-radius: 2rem;
    
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    right: 0;
    background: transparent;
}

.nav-list li.active::before {
    top: calc(var(--border-radius) * -1);
    border-radius: 0 0 100vw 0;
    box-shadow: 10px 10px 0 10px var(--body-bg);  
}
.nav-list li.active::after {
    bottom: calc(var(--border-radius) * -1);
    border-radius: 0 100vw 0 0;
    box-shadow: 10px -10px 0 10px var(--body-bg);
}

.nav-list li.active:hover {
    filter: brightness(1);
}
.nav-list li.active:hover {
    filter: brightness(1);
}

.nav-list li.active a{
    color: #000;
}

.nav-list a {
    color: #fff;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 10;
}