:root {
    --bg: hsl(0, 0%, 92%);
    --button-text: hsl(0 0% 100%);
    --button-1-surface: hsl(223, 83%, 30%);
    --button-2-surface: hsl(41,96%,56%);
    --body-bg: hsl(0, 0%, 92%);
    --nav-bg: linear-gradient(90deg, rgba(13,49,141,1) 0%, rgba(22,35,107,1) 50%, rgba(15,24,85,1) 100%);
    --gradient: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(7,144,232,1) 25%, rgba(14,97,209,1) 50%, rgba(20,50,186,1) 75%, rgba(27,3,163,1) 100%);
    --gradient-scroll: linear-gradient(to bottom right, rgba(0,191,255,1) 0%, rgba(7,144,232,1) 25%, rgba(14,97,209,1) 50%, rgba(20,50,186,1) 75%, rgba(27,3,163,1) 100%);
    --card-background: hsl(0, 0%, 100%);
    --card-text: hsl(0, 0%, 100%);
    --card-accent: hsl(223, 83%, 30%);
}

::-webkit-scrollbar {
    width: .75em;
}

::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 100vw;
    margin-block: .125em;
}

::-webkit-scrollbar-thumb {
    border: .125em solid #eaeaea;
    border-radius: 100vw;
    background-image: var(--gradient-scroll);
    background-size: 400%;
    animation: thumb-animation 1s infinite alternate;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Arial", sans-serif;
    background-image: var(--gradient);
    background-size: 400%;
    animation: big-animation 20s infinite alternate;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 1.25rem;
    background: var(--body-bg);
    color: black;
    display: grid;

    gap: 4rem;
    min-height: 100vh; /* Ensure the body expands to fit the viewport height */
    overflow-y: auto;  /* Allow vertical overflow */
    background: transparent;
}

.progress-bar {
    padding: 2rem; /* Adjust padding for proper sizing */
    color: white;
    margin-bottom: 150px;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    scale: 1.2;
    background: white;
    border-radius: 20px;
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0.5);
}

.progress-bar h2, h3 {
    background-image: var(--gradient);
    background-size: 400%;
    background-clip: text;
    animation: big-animation 20s infinite alternate;
    color: transparent;
}

.container {
    margin-top: 40px;
    width: 100%; 
    border-radius: 15px; 
    text-align: center;
    justify-content: center;
    transition: 0.5s ease;
    background-color: #A9A9A9;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}

.progress {
    width: 100%;
}

.skill {
    color: white; 
    padding: 3%; 
    text-align: right; 
    font-size: 25px; 
    border-radius: 10px; 
    font-weight: 900;
    text-align: center;
    background-image: var(--gradient);
    background-size: 400%;
    animation: big-animation 10s infinite alternate;
}

.container:hover {
    transition: 0.5s ease;
    box-shadow: 0 0 22.5px 8.25px transparent;
    background-color: #808080;
    border-color: #0d318d;
    scale: 1.1;
    text-align: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns layout */
    grid-gap: 3rem 0.01px;
    width: 100%; /* Ensure the container spans the full width */
    margin-top: 10px;
    place-items: center;
    justify-content: center;
}

.card {
    color: var(--card-text);
    background-image: url("../images/Warriors.png");
    background-size: cover;
    padding: 5rem 0 0; /* Adjust padding for positioning */
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card.card-1 {
    background-image: url("../images/Carousel.jpg");
}

.card.card-2 {
    background-image: url("../images/Accordion.png");
}

.card.card-3 {
    background-image: url("../images/Warriors.png");
}

.card.card-4 {
    background-image: url("../images/Catalogue.jpg");
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 2rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / .2) 40%,
        hsl(0 0% 0% / 1)
    );
}

.card-title {
    position: relative;
    width: max-content;
    font-size: 3rem;
}

h1 {
    position: relative;
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    line-height: 0.8;
    display: inline-block;
    background-image: var(--gradient); /* Apply gradient background */
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Ensure the text color is transparent to show the background */
    animation: big-animation 20s infinite alternate;
}

.para {
    font-size: 24px;
    margin-top: 20px;
}

.card-title::after {
    content: '';
    position: absolute;
    height: 5px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--gradient);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
    transition-delay: 800ms;
}

.card-body {
    color: rgb(255, 255, 255 / 0.85);
}

@media (hover) {
    .card-content {
        transform: translateY(60%);
        transition: transform 500ms ease;
    }

    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 900ms;
    }

    .card:focus-within .card-content > *:not(.card-title) {
        transition-delay: 500ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section {
    background-color: #eaeaea;
    padding: 50px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    background: white;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
}

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--card-background);
    background-color: var(--card-accent);
    padding: .5em 1.25em;
    border-radius: .5em;
}

.button:hover,
.button:focus {
    background-color: var(--card-text);
    color: var(--card-accent);
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms
        !important;
        animation-iteration-count: 1
        !important;
        transition-duration: 0.01ms
        !important;
        scroll-behavior: auto
        !important;
        transition-delay: 0ms
        !important;
    }
}

@keyframes big-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes thumb-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}